<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956026494450-nefep3m8ku10l5v0lng0f84u1f7jar5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956026494450-nefep3m8ku10l5v0lng0f84u1f7jar5f</string>
	<key>API_KEY</key>
	<string>AIzaSyAzpziKXgqrHejvPBMxfIh3_1wfYObRyYM</string>
	<key>GCM_SENDER_ID</key>
	<string>956026494450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irfan.kasiFy</string>
	<key>PROJECT_ID</key>
	<string>kasify-e13de</string>
	<key>STORAGE_BUCKET</key>
	<string>kasify-e13de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956026494450:ios:4d94906a968bbd8cdedf6b</string>
</dict>
</plist>